# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Archivos temporales
*.tmp
*.bak

# Sistema operativo
Thumbs.db
.DS_Store

# Django static files de producción
staticfiles/